# Virtual Environment
venv/
env/

# System Files
.DS_Store
Thumbs.db

# Python Files
__pycache__/
*.py[cod]

# Django Specific
db.sqlite3
settings_local.py
*/migrations/*.py
!*/migrations/__init__.py

# Static and Media Files
staticfiles/
media/

# Log Files
*.log

# Environment Variables
.env

# IDE/Editor Config
.vscode/
.idea/
